<div ng-if="$root.tab === 'Live'">
    <ul class="frames">
        <li id="camera-list" class="frame">
            <div class="frame-heading">
                <div class="camera-img"></div>
                <span>List Camera (<span ng-bind="$root.selectedCam.length"></span> cameras selected)</span>
            </div>
            <div class="frame-content">
                <ul class="list-camera">
                    <li ng-repeat="c in $root.selectedCam | filter:vm.searchText track by $index">
                        <a href=""  ng-click="vm.changeSelectedCam(c)">
                            <div class="camera-item"></div>
                            <span ng-bind="c.name"></span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </li>
        <li class="frame">
            <div class="frame-heading">
                <div class="view-icon"></div>
                <span>View</span>
            </div>
            <div class="frame-content">
                <ul>
                    <li>
                        <a href="">
                            <span class="logs" style="margin-right:15px"></span>
                            <span>Logs Of Current Camera</span>
                        </a>
                    </li>
                    <li>    
                        <a href="">
                            <div class="full-screen" style="margin-right:15px"></div>
                            <span>Full Screen Current Camera</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li id="snapshot-frame" class="frame">
            <div class="frame-heading">
                <div class="photo"></div>
                <span>Snapshot</span>
            </div>
            <div class="frame-content">
                <ul>
                    <button class="btn btn-success">This Camera</button>
                    <button class="btn btn-success">All Camera</button>
                </ul>
            </div>
        </li>
        <li class="frame">
            <div class="frame-heading">
                <div class="control-camera"></div>
                <span>Control Camera</span>
            </div>
            <div class="frame-content">
                <div class="pull-left">
                    <div>
                        <span>Volume</span>
                        <input type="range" min="0" max="100">
                    </div>
                    <div>
                        <span>Zoom</span>
                        <input type="range"  min="0" max="100">
                    </div>
                    <div>
                        <strong>Camera Remote :</strong>
                    </div>
                </div>
                <div class="direction-btns pull-right">
                    <ul>
                        <li><button class="btn btn-default"><div class="up-left"></div></button></li><!--
                     --><li><button class="btn btn-default"><div class="up"></div></button></li><!--
                    --><li><button class="btn btn-default"><div class="up-right"></div></button></li>
                    </ul>
                    <ul>
                        <li><button class="btn btn-default"><div class="left"></div></button></li><!--
                    --><li><button style="padding: 0 0 0 0" class="btn btn-default"><div class="centre"></div></button></li><!--
                --><li><button class="btn btn-default"><div class="right"></div></button></li>
                    </ul>
                    <ul>
                        <li><button class="btn btn-default"><div class="down-left"></div></button></li><!--
                    --><li><button class="btn btn-default"><div class="down"></div></button></li><!--
                --><li><button class="btn btn-default"><div class="down-right"></div></button></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
<div ng-if="$root.tab === 'Playback'">
    <ul class="frames">
        <li id="camera-list" class="frame">
            <div class="frame-heading">
                <div class="camera-img"></div>
                <span>List Camera (<span ng-bind="$root.selectedCam.length"></span> cameras selected)</span>
            </div>
            <div class="frame-content">
                <ul class="list-camera">
                    <li ng-repeat="c in $root.selectedCam track by $index">
                        <a href="" ng-click="vm.changeSelectedCam(c)">
                            <div class="camera-item"></div>
                            <span ng-bind="c.name"></span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </li>
        <li class="frame">
            <div class="frame-heading">
                <div class="save"></div>
                <span>Save videos & images</span>
            </div>
            <div class="frame-content">
                <ul>
                    <li>
                        <a href="#">
                            <div style="width:30;height:30px;margin-right:15px" class="video"></div>
                            <span>Number of video</span>
                            <span>(23 videos)</span>
                        </a>
                    </li>
                    <li>    
                        <a href="#">
                            <div style="width:30;height:30px;margin-right:15px" class="image"></div>
                            <span>Number of photo</span>
                            <span>(12 images)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="frame">
            <div class="frame-heading">
                <div class="control-camera"></div>
                <span>Control</span>
            </div>
            <div class="frame-content">
                <span style="margin: 0 9px">
                    <button class="video-control-btn"><i class="fa fa-backward" aria-hidden="true"></i></button><!--
                    --><button class="video-control-btn"><i class="fa fa-play" aria-hidden="true"></i></button><!--
                    --><button class="video-control-btn"><i class="fa fa-stop" aria-hidden="true"></i></button><!--
                    --><button class="video-control-btn"><i class="fa fa-forward" aria-hidden="true"></i></button>
                
                </span>
                <span>
                    <i class="fa fa-volume-up" style="font-size:20px" aria-hidden="true"></i><input type="range" min="0" max="100">
                </span>
            </div>
        </li>
        <li id="snapshot-frame" class="frame">
            <div class="frame-heading">
                <div class="search"></div>
                <span>Search</span>
            </div>
            <div class="frame-content">
                <form action="#">
                    <ul>
                        <li>
                            <strong>Type:</strong>
                            <select>
                                <option value="all">all</option>
                                <option value="only-saved-video">only saved media</option>
                                <option value="only-current-cam">only current cam</option>
                            </select>
                        </li>
                        <li>
                            <label>
                                <strong>Date: </strong>
                                <input type="date">
                            </label>
                        </li>
                        <li>
                            <label >
                                <strong>Name: </strong>
                                <input type="text">
                            </label>
                        </li>
                    </ul>
                    <li>
                        <ul class="row">
                            <li class=" col-md-2"></li>
                            <li class="pull-left" style="display:inline">Image <input type="radio" name="type" value="image"></li>
                            <li class="pull-left" style="display:inline">Video <input type="radio" name="type" value="video"></li>
                            <li class=" col-md-1"></li>
                            <li><input type="submit" class="btn btn-success" value="Enter"></li>        
                        </ul>
                    </li>
                    
                </form>
            </div>
        </li>
    </ul>
</div>