<!-- <div ng-if="vm.isLoading" class="centered">
    <pre-loader></pre-loader>
</div> -->
<div class="main">
    <ul class="medias">
        <li class="media" ng-repeat="l in vm.links">
            <div class="media-header">
                <i class="material-icons">camera_alt</i>
                <span>Monitor 01</span>
                <a href="">
                    <i class="material-icons right waves-effect waves-teal">close</i>
                </a>
            </div>
            <!-- just disable media-body -->
            <!-- just let it here because video and iframe depend on this class -->
            <div class="media-body">
                
                <iframe src="{{l}}" width="500px" height="300px" frameborder="0"></iframe>
            </div>
        </li>

    </ul>
</div>