<div class="navbar-fixed-left">
    <!--============ nav button ==============-->
    <div class="navigation">
        <ul>
            <!--=========== comment after li is some trick to make button doesnt have distance =========-->
          <li><a ui-sref="live" ng-click="vm.changeTab('Live')">Live</a></li><!--
          --><li><a ui-sref="playback" ng-click="vm.changeTab('Playback')">Playback</a></li><!--
          --><li><a ui-sref="config" ng-click="vm.changeTab('Config')">Config</a></li>
        </ul>
    </div>
    <option-bar></option-bar>
    <frames></frames>
</div>