<ul class="row">
    <li class="col-sm-6 col-md-4 col-lg-4 media"
        ng-repeat="m in vm.monitors track by $index">

        <div class="media-header">
            <!-- tittle of monitor -->
            <span style="margin-left:5px;">dslkaf</span>
            <!-- tool of a monitor -->
            <span class="pull-right monitor-tool">
                <a href="" title="show info of current monitor" ng-click="vm.showInfo(m.mid)"><i class="material-icons">info</i></a>
                <a href="" title="flash on" ng-click="vm.flashClick()"><i class="material-icons" ng-bind="vm.flashCur"></i></a>
                <a href="{{m.link}}" title="fullscreen" target="_blank"><i class="material-icons">fullscreen</i></a>
            </span>
        </div>
        <iframe src="{{m.link}}" frameborder="0" width="100%" height="250px"></iframe>
    </li>
</ul>