<!DOCTYPE html>
<html lang="en" ng-app="appAdmin">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="../css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Uet Monitor Admin</title>
</head>

<body>
    <app></app>
</body>

<!-- =============== animation and ui ====== -->
<!--   Core JS Files   -->
<script src="../js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<!-- <script src="./js/chartist.min.js"></script> -->
<!--  Dynamic Elements plugin -->
<script src="../js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="../js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!-- Material Dashboard javascript methods -->
<script src="../js/material-dashboard.js?v=1.2.0"></script>



<!-- =============== behavior ================= -->
<!-- ================= angularjs ========================== -->
<script src="../angular/angular.js"></script>
<script src="../angular-ui-router/release/angular-ui-router.js"></script>
<script src="../angular-resource/angular-resource.js"></script>

<!-- =========== app ======= -->
<script src="../admin/app.constant.js"></script>
<script src="../admin/app.module.js"></script>
<script src="../admin/app.config.js"></script>

<!-- =================== service ======================== -->

<script src="../admin/services/monitor.service.js"></script>
<script src="../admin/services/user.service.js"></script>


<!--============== components ===============-->
<!-- view -->
<script src="../admin/components/views/monitor/monitor.controller.js"></script>
<script src="../admin/components/views/user/user.controller.js"></script>
<!-- real component -->

<script src="../admin/components/navbar/navbar.component.js"></script>
<script src="../admin/components/app/app.component.js"></script>
<script src="../admin/components/appFooter/appFooter.component.js"></script>
<script src="../admin/components/sidebar/sidebar.component.js"></script>
<script src="../admin/components/configForm/configForm.component.js"></script>


</html>
