<div class="main-header">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <ul class="main-header-btns pull-right">
                <li>
                    <strong style="color:#999">1:
                        <span ng-bind="$root.divideScreen"></span>
                    </strong>
                </li>

                <li ng-repeat="li in vm.divideScreens track by $index" style="margin-left:3px">
                    <button class="btn btn-default" ng-click="vm.changeDivideScreen(li)">1:<span ng-bind="li"></span>
                    </button>
                </li>


            </ul>
        </div>
        <div class="col-md-5" style="color:#fff;">
            <div style="text-align:center;"><span ng-bind="vm.clock | date:'medium'"></span></div>
            <div>Đại học Công Nghệ-ĐHQGHN-143 Xuân Thủy-Cầu Giấy-Hà Nội</div>
        </div>
        <div class="auth col-md-3">
            <ul class="pull-right">
                <li>
                    <a data-toggle="tooltip" data-placement="bottom" title="Add camera or user" href="#">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a data-toggle="tooltip" data-placement="bottom" title="Mr.Admin" href="#">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a data-toggle="tooltip" data-placement="bottom" title="Logout" href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab">
   Selected Cam : <span ng-bind="$root.curCam.name"></span>
</div>