<div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="z-index:1042;">
        <div class="loginmodal-container">
            <!-- this btn is just for click in directiv -->
            <button 
             type="button"
             class="close"
             id="login-modal-close" 
             data-dismiss="modal"
             style="color:black;">&times;</button>
            <h1>User Infomation</h1>
            <br>
            <span ng-bind="vm.navErr" class="text-danger"></span>
            <form>
                <input type="text" name="mail" placeholder="mail">
                <input type="password" name="password" placeholder="Password">
                <input
                 type="submit"
                 name="login"
                 class="login loginmodal-submit"
                 value="Login"
                 ng-click="vm.login()">
            </form>

            <!-- <div class="login-help">
                <a href="#">Forgot Password</a>
            </div> -->
        </div>
    </div>
</div>