<div class="modal fade" id="unal-monitor-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
    <div class="modal-dialog" style="z-index:1042;">
        <div class="loginmodal-container">
            <!-- this btn is just for click in directiv -->
            <button 
            type="button"
            class="close"
            id="unal-monitor-modal-close" 
            data-dismiss="modal"
            style="color:black;">&times;</button>

           <h1>Choose Monitor</h1>
           <span class="text-danger"></span>
           <label>Available Monitor : </label>
           <select style="margin:15px; ">
                <option
                 ng-repeat="m in vm.unalMonitorModal.monitorOption track by $index"
                 value="{{m}}"
                 ng-bind="m"></option>
           </select>
           <input
                 type="submit"
                 name="login"
                 class="login loginmodal-submit"
                 value="Submit"
                 ng-click="vm.login()">
            <!-- <div class="login-help">
                <a href="#">Forgot Password</a>
            </div> -->
        </div>
    </div>
</div>