<div class="container">
    <script>$(document).ready(function () {
            $('select').material_select();
        });</script>
    <!-- <ul class="collection with-header">
        <li class="collection-header">
            <h4>Identity</h4>
            <p>You can duplicate a monitor by modifying the Monitor ID then pressing save. You cannot use the ID of a monitor
                that already exists or it will save over that monitor's database information.</p>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Mode</strong>
                    <br>
                    <small>This is the primary task of the monitor.</small>
                </div>
                <div class="col s8 m8 l8">
                    <input type="text">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Monitor ID</strong>
                    <br>
                    <small>This is a non-changeable identifier for the monitor. You can duplicate a monitor by double clicking the
                        Monitor ID and changing it.</small>
                </div>
                <div class="col s8 m8 l8">
                    <input type="text">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Name</strong>
                    <br>
                    <small>This is the human-readable display name for the monitor.</small>
                </div>
                <div class="col s8 m8 l8">
                    <input type="text">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Retry Connection</strong>
                    <br>
                    <small>The number of times to retry for network connection between the server and camera before setting the
                        monitor to Disabled. No decimals. Set to 0 to retry forever.</small>
                </div>
                <div class="col s8 m8 l8">
                    <input type="text">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Notes</strong>
                    <br>
                    <small>Comments you want to leave for this camera.</small>
                </div>
                <div class="col s8 m8 l8">
                    <input type="text">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Storage Location</strong>
                </div>
                <div class="col s8 m8 l8">
                    <select>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
        </li>

    </ul>

    <ul class="collection with-header">
        <li class="collection-header">
            <h4>Input</h4>
            <span>
                <p>
                    This section tells Shinobi how to consume a stream. For optimal performance try tuning your camera's internal settings. Find
                    the following options and set them as shown. To find your camera you can use the built in ONVIF Scanner
                    of Shinobi. Some ONVIF cameras require the use of a management tool to modify their internal settings.
                    If you can't find your cameras you can try
                    <a href="https://s3.amazonaws.com/cloudcamio/odm-v2.2.250.msi">ONVIF Device Manager for Windows</a>
                </p>
                <p>
                    If you need help figuring out what input type your camera is you can take a look in the
                    <a href="http://shinobi.video/docs/cameras">Camera URLs List on the Shinobi website</a>.
                </p>
            </span>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Input Type</strong>
                    <br>
                    <small>The method that will used to consume the video stream.</small>
                </div>
                <div class="col s8 m8 l8">
                    <select>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Monitor ID</strong>
                    <br>
                    <small>This is a non-changeable identifier for the monitor. You can duplicate a monitor by double clicking the
                        Monitor ID and changing it.</small>
                </div>
                <div class="col s8 m8 l8">
                    <input type="text">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Name</strong>
                    <br>
                    <small>This is the human-readable display name for the monitor.</small>
                </div>
                <div class="col s8 m8 l8">
                    <input type="text">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Retry Connection</strong>
                    <br>
                    <small>The number of times to retry for network connection between the server and camera before setting the
                        monitor to Disabled. No decimals. Set to 0 to retry forever.</small>
                </div>
                <div class="col s8 m8 l8">
                    <input type="text">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Notes</strong>
                    <br>
                    <small>Comments you want to leave for this camera.</small>
                </div>
                <div class="col s8 m8 l8">
                    <input type="text">
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong>Storage Location</strong>
                </div>
                <div class="col s8 m8 l8">
                    <select>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
        </li>

    </ul> -->

    <ul ng-repeat="optionTab in vm.optionTabs" style="overflow:visible" id="{{optionTab.title}}" class="collection with-header" >
        <li class="collection-header">
            <h4 ng-bind="optionTab.title"></h4>
            <span>
                <p ng-bind="optionTab.description"></p>
            </span>
        </li>
        <li class="collection-item" ng-repeat="option in optionTab.options">
            <div class="row">
                <div class="col s4 m4 l4">
                    <strong ng-bind="option.name"></strong>
                    <br>
                    <small ng-bind="option.description"></small>
                </div>
                <div class="col s8 m8 l8">
                    <select ng-if="option.selectOption.length > 0" style="z-index:1">
                        <option ng-repeat="o in option.selectOption" value="o">{{o}}</option>
                    </select>
                    <input type="text" ng-if="option.selectOption.length == 0">
                </div>
            </div>
        </li>
    </ul>
    <button class="btn waves-effect waves-light right" type="submit" name="action" style="margin:5px;">Save Changes
        <i class="material-icons right">send</i>
    </button>
    <button class="btn waves-effect waves-light right" type="submit" name="action" style="margin:5px;">Reset</button>
</div>