<div class="option">
    <ul ng-if="tab === 'Live'">
        <li><a class="live-mode" data-toggle="tooltip" title="info of current camera" href="#"><div class="info"></div></a></li><!--
        --><li><a class="live-mode" data-toggle="tooltip" title="map of current camera" href="#"><div class="map"></div></a></li><!--
        --><li><a class="live-mode" data-toggle="tooltip" title="setting of current camera" href="#"><div class="setting"></div></a></li><!--
        --><li><a class="live-mode" data-toggle="tooltip" title="flash-auto" href="#"><div class="vm.change"></div></a></li>
    </ul>

    <ul ng-if="tab === 'Playback'">
        <li class="dropdown"><a class="live-mode dropdown-toggle" data-toggle="dropdown" href="#"><div class="info"></div><span class="caret"></span></a><ul class=" dropdown-menu"><li><a href="#">Camera Info</a></li><li><a href="#">Video Info</a></li></ul></li><!--
        --><li><a class="live-mode"  href="#"><div class="rename"></div></a></li><!--
        --><li><a class="live-mode" href="#"><div class="remove"></div></a></li><!--
        --><li><a class="live-mode" href="#"><div class="save"></div></a></li>
    </ul>
</div>