<div class="col-md-12">
    <div class="form-group label-floating is-empty">
        <label class="control-label">Change Email</label>
        <input type="email" class="form-control" ng-model="vm.changeMail">
        <span class="material-input"></span>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group label-floating is-empty">
        <label class="control-label">Change Password</label>
        <input type="text" class="form-control" ng-model="vm.changePassword">
        <span class="material-input"></span>
    </div>
</div>

<div class="col-md-12">
    <div class="form-group label-floating is-empty">
        <label class="control-label">Number videos per page</label>
        <input type="number" class="form-control" ng-model="vm.videoPerPage">
        <span class="material-input"></span>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group label-floating is-empty">
        <label class="control-label">Number monitors per page</label>
        <input type="number" class="form-control" ng-model="vm.monitorPerPage">
        <span class="material-input"></span>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group label-floating is-empty">
    <label class="col-md-5">Video Per Row :</label>
        <select ng-model="vm.videoPerRow" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="6">6</option>
        </select>
        <span class="material-input"></span>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group label-floating is-empty">
        <label class="col-md-5">Monitors Per Row :</label>
        <select ng-model="vm.monitorPerRow">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="6">6</option>
        </select>
        <span class="material-input"></span>
    </div>
</div>
<!-- <div class="col-md-12">
        <div class="form-group label-floating is-empty">
            <label class="control-label">Number video per row</label>
            <input type="text" class="form-control">
            <span class="material-input"></span>
        </div>
    </div>
<div class="col-md-12">
        <div class="form-group label-floating is-empty">
            <label class="control-label">Number videos per page</label>
            <input type="text" class="form-control">
            <span class="material-input"></span>
        </div>
    </div> -->

<div class="col-md-6">
    <div class="form-group label-floating is-empty">
        <label class="col-md-5">Filter Monitors By :</label>
        <select ng-model="vm.monitorFilter">
            <option value="name">Name</option>
            <option value="_id">ID</option>
        </select>
        <span class="material-input"></span>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group label-floating is-empty">
        <label class="col-md-5">Filter Videos By :</label>
        <select ng-model="vm.videoFilter">
            <option value="name">Name</option>
            <option value="_id">ID</option>
        </select>
        <span class="material-input"></span>
    </div>
</div>

<button class="btn btn-primary pull-right" ng-click="vm.save()">Save</button>